* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  max-width: 1620px;
  margin: 0 auto;
  padding: 16px 16px;
  gap: 30px;
}
.header .logo {
  width: 130.44px;
  height: 51.44px;
}
.header .search {
  height: 60px;
  background-color: #F3F3F3;
  padding: 0 20px;
  outline: none;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  flex-grow: 1;
  border: none;
}
.header .search::placeholder {
  color: #B6B4B4;
}
.header .user-icon {
  padding: 16px 8px;
}
.header .search-wrap {
  display: flex;
  cursor: pointer;
  flex-grow: 1;
  border: 1px solid transparent;
}
.header .search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 60px;
  background-color: #E5E5E5;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}
.header .active-search {
  border: 1px solid #ECB907;
  border-radius: 30pxgit;
}
.header .content {
  display: flex;
  flex-grow: 1;
  gap: 156px;
}
.header .user-wrap {
  display: flex;
  align-items: center;
  gap: 183px;
}
.header .icons-wrap {
  display: flex;
  gap: 62px;
}
.header .lang-switch {
  width: 49px;
  height: 49px;
  background-color: #ECB907;
  border-radius: 100%;
}